<ion-tabs >
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="events">
      <ion-icon name="infinite-outline"></ion-icon>
      <ion-label>Events</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="planner">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Planner</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="vendor">
      <ion-icon name="people-circle-outline"></ion-icon>
      <ion-label>Vendor</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="account">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>