<ng-http-loader spinner="sk-wave"></ng-http-loader>
<ion-content>
  <ion-toolbar color="clear">
    <ion-title>Planners</ion-title>
  </ion-toolbar>
  <div class="ion-text-center" *ngIf="planners?.length === 0">
    <h5>
      No added planner yet
    </h5>
  </div>
  <ion-list class="" *ngFor="let planner of planners">
    <ion-card class="ion-no-border ion-no-padding">
      <ion-card-content>
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="10" class="ion-text-wrap">
              <ion-item class="ion-no-padding" color="none" lines="none">
                <ion-label class="ion-text-wrap message-label">
                  {{planner.message}}
                </ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="2" class="ion-no-padding">

              <ion-button color="translucent" color="light" fill="clear" id="present-alert"
                (click)="deleteAlert(planner.id)">
                <ion-icon name="trash-outline"></ion-icon>

              </ion-button>

            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-icon color="light" name="location-outline"></ion-icon> {{planner.location}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-icon name="calendar-outline"></ion-icon> {{planner.date | date :
              'mediumDate'}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-icon name="time-outline"></ion-icon> {{planner.time | customTimeFormat }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>


  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button id="open-modal-planner">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal trigger="open-modal-planner" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form [formGroup]="plannerForm" (ngSubmit)="onSubmit()">
          <h4>Add new plan:</h4>
          <br>
          <ion-input label="What do you want to do?" formControlName="message" label-placement="floating" fill="outline"
            color="dark" placeholder="Ex. Meet with clients"></ion-input>
          <div *ngIf="this.plannerForm.controls['message'].touched && this.plannerForm.controls['message'].invalid">
            <div class="error ion-no-padding validator-text" *ngIf="errorControl['message'].errors['required']">
              <ion-text color="danger">To do message required.</ion-text>
            </div>
          </div>
          <br>
          <ion-input label="Where is the location?" formControlName="location" label-placement="floating" fill="outline"
            color="dark" placeholder="Ex. Laguna"></ion-input>
          <div *ngIf="this.plannerForm.controls['location'].touched && this.plannerForm.controls['location'].invalid">
            <div class="error ion-no-padding validator-text" *ngIf="errorControl['location'].errors['required']">
              <ion-text color="danger">Location required.</ion-text>
            </div>
          </div>
          <br>
          <ion-item class="item-date-container">
            <ion-label>Select date</ion-label>
            <ion-datetime-button datetime="date"></ion-datetime-button>
          </ion-item>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime #date (ionChange)=" dateChanged(date.value)" id="date" [showDefaultButtons]="true"
                presentation="date" display-format="YYYY-MM-DD"></ion-datetime>
            </ng-template>
          </ion-modal>
          <br>
          <ion-item class="item-date-container">
            <ion-label>Select time</ion-label>
            <ion-datetime-button datetime="time"></ion-datetime-button>
          </ion-item>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime #time (ionChange)=" timeChanged(time.value)" id="time" [showDefaultButtons]="true"
                presentation="time" display-format="YYYY-MM-DD"></ion-datetime>
            </ng-template>
          </ion-modal>
          <ion-button type="submitForm" size="full" class="colored-button">Confirm</ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>