ion-title {
    &.md {
        width: 100%;
        position: absolute;
        left: 0;
        height: 0;
        text-align: center;
    }
}

.item-date-container {
    border: 1px solid #9ca3af;
    border-radius: 4px;
}

ion-text {
    font-size: 12px;
}

ion-button.colored-button {
    margin-top: 20px;
    --background: rgba(255, 87, 87);
    --background: -moz-linear-gradient(left, rgba(255, 87, 87) 0%, rgba(140, 82, 255) 100%);
    --background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 87, 87)), color-stop(100%, rgba(140, 82, 255)));
    --background: -webkit-linear-gradient(left, rgba(255, 87, 87) 0%, rgba(140, 82, 255) 100%);
    --background: -o-linear-gradient(left, rgba(255, 87, 87) 0%, rgba(140, 82, 255) 100%);
    --background: -ms-linear-gradient(left, rgba(255, 87, 87) 0%, rgba(140, 82, 255) 100%);
    --background: linear-gradient(to right, rgba(255, 87, 87) 0%, rgba(140, 82, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ed2400, endColorstr=#006333, GradientType=1);
    padding: 0;
    box-shadow: none;
    --border-radius: 14px;
    color: white;
    font-weight: bold;
    text-transform: initial;
}

ion-text {
    font-size: 12px;
}
.label-text {
    font-size: 17px;
}

.message-label {
   
    color: white;
}


ion-fab-button {
    --background: rgba(255, 87, 87);
    --background: -moz-linear-gradient(left, rgba(255, 87, 87) 0%, rgba(140, 82, 255) 100%);
    --background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 87, 87)), color-stop(100%, rgba(140, 82, 255)));
    --background: -webkit-linear-gradient(left, rgba(255, 87, 87) 0%, rgba(140, 82, 255) 100%);
    --background: -o-linear-gradient(left, rgba(255, 87, 87) 0%, rgba(140, 82, 255) 100%);
    --background: -ms-linear-gradient(left, rgba(255, 87, 87) 0%, rgba(140, 82, 255) 100%);
    --background: linear-gradient(to right, rgba(255, 87, 87) 0%, rgba(140, 82, 255) 100%);
    --filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ed2400, endColorstr=#006333, GradientType=1);
}

ion-content {
 
    --padding-bottom: 50px;
}



ion-card {
    background: rgba(255, 87, 87);
    background: -moz-linear-gradient(left, rgba(255, 87, 87) 0%, rgba(140, 82, 255) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 87, 87)), color-stop(100%, rgba(140, 82, 255)));
    background: -webkit-linear-gradient(left, rgba(255, 87, 87) 0%, rgba(140, 82, 255) 100%);
    background: -o-linear-gradient(left, rgba(255, 87, 87) 0%, rgba(140, 82, 255) 100%);
    background: -ms-linear-gradient(left, rgba(255, 87, 87) 0%, rgba(140, 82, 255) 100%);
    background: linear-gradient(to right, rgba(255, 87, 87) 0%, rgba(140, 82, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ed2400, endColorstr=#006333, GradientType=1);
    padding: 0;
    box-shadow: none;
    --border-radius: 14px;
    color: white;
    width: 100%;
    height: 100px;
    margin: 0 !important;
    padding: 0 !important;
}

ion-list {
    margin: 0px 15px;

}