<ng-http-loader spinner="sk-wave"></ng-http-loader>
<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-title>Events</ion-title>
  </ion-toolbar>
  <ion-list class="ion-no-padding" *ngFor="let booking of bookings">
    <ion-card class="ion-no-border ion-no-padding">
      <ion-card-content>
        <ion-item lines="none" color="none"  class="ion-no-padding item-container">
          <ion-label class="label-container">
            <h2><span class="label-title">Event name : </span> {{booking.eventName}}</h2>
            <p><span class="label-subtitle">Client name : </span>{{booking.clientName}}</p>
          </ion-label>
          <ion-icon name="chevron-forward-outline" slot="end" color="light" [routerLink]="['/wedding-details', booking.id]"></ion-icon>
        </ion-item>
      </ion-card-content>
    </ion-card>
    
  </ion-list>
</ion-content>