<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-title>Vendors</ion-title>
  </ion-toolbar>
  <ion-list class="ion-no-padding" *ngFor="let vendor of vendors">
    <ion-card class="ion-no-border ion-no-padding">
      <ion-card-content>
        <ion-item lines="none" color="none" class="ion-no-padding item-container">
          <ion-label class="label-container">
            <h2><span class="label-title">Event name : </span> {{vendor.eventNameReference}}</h2>
            <p><span class="label-subtitle">Vendor type : </span><span class="vendor-type">{{vendor.vendorType}}</span>
            </p>
          </ion-label>
          <ion-icon name="chevron-forward-outline" slot="end" color="light"
            [routerLink]="['/vendor-details', vendor.id]"></ion-icon>
        </ion-item>
      </ion-card-content>
    </ion-card>

  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button id="open-modal" id="open-modal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form [formGroup]="vendorForm" (ngSubmit)="onSubmit()">
          <h4>Add new vendor:</h4>
          <ion-select formControlName="eventNameReference" label="Event name reference" label-placement="floating"
            fill="outline">
            <ion-select-option *ngFor="let booking of bookings" [value]="booking.eventName">{{booking.eventName}}</ion-select-option>
          </ion-select>
          <div
            *ngIf="this.vendorForm.controls['eventNameReference'].touched && this.vendorForm.controls['eventNameReference'].invalid">
            <div class="error ion-no-padding" *ngIf="errorControl['eventNameReference'].errors['required']">
              <ion-text color="danger">Event name reference is required.</ion-text>
            </div>
          </div>
          <br>
          <ion-input label="Vendor type" formControlName="vendorType" label-placement="floating" fill="outline"
            color="dark" placeholder="Ex. Photographer"></ion-input>
          <div *ngIf="this.vendorForm.controls['vendorType'].touched && this.vendorForm.controls['vendorType'].invalid">
            <div class="error ion-no-padding" *ngIf="errorControl['vendorType'].errors['required']">
              <ion-text color="danger">Vendor type is required.</ion-text>
            </div>
          </div>
          <br>
          <ion-input formControlName="companyName" label="Company name" label-placement="floating" fill="outline"
            color="dark" placeholder="Ex. Villsman Capstures"></ion-input>
          <div
            *ngIf="this.vendorForm.controls['companyName'].touched && this.vendorForm.controls['companyName'].invalid">
            <div class="error ion-no-padding" *ngIf="errorControl['companyName'].errors['required']">
              <ion-text color="danger">Company name is required.</ion-text>
            </div>
          </div>
          <br>
          <ion-input formControlName="email" type="email" label="Email" label-placement="floating" fill="outline"
            color="dark" placeholder="Ex. example@gmail.com"></ion-input>
          <div *ngIf="this.vendorForm.controls['email'].touched && this.vendorForm.controls['email'].invalid">
            <div class="error ion-no-padding" *ngIf="errorControl['email'].errors['required']">
              <ion-text color="danger">Email is required.</ion-text>
            </div>
            <div class="ion-no-padding" *ngIf="errorControl['email'].errors?.['pattern']">
              <ion-text color="danger">Please provide valid email.</ion-text>
            </div>
          </div>
          <br>
          <ion-input formControlName="regionCityZip" label="Region, City, Zip" label-placement="floating" fill="outline"
            color="dark" placeholder="Ex. Rodriguez, Rizal 1860"></ion-input>
          <div
            *ngIf="this.vendorForm.controls['regionCityZip'].touched && this.vendorForm.controls['regionCityZip'].invalid">
            <div class="error ion-no-padding" *ngIf="errorControl['regionCityZip'].errors['required']">
              <ion-text color="danger">Region/City/Zip is required.</ion-text>
            </div>
          </div>
          <br>
          <ion-input formControlName="contact" label="Contact #" label-placement="floating" fill="outline" color="dark"
            placeholder="Ex. 09108863811"></ion-input>
          <div *ngIf="this.vendorForm.controls['contact'].touched && this.vendorForm.controls['contact'].invalid">
            <div class="error ion-no-padding" *ngIf="errorControl['contact'].errors['required']">
              <ion-text color="danger">Contact is required.</ion-text>
            </div>
            <div class="ion-no-padding" *ngIf="errorControl['contact'].errors?.['pattern']">
              <ion-text color="danger">Please provide valid contact number.</ion-text>
            </div>
            <div class="ion-no-padding" *ngIf="errorControl['contact'].errors?.['maxlength'] || errorControl['contact'].errors?.['minlength']">
              <ion-text color="danger">Phone number must be at least 11 numbers</ion-text>
            </div>
          </div>
          <br>
          <ion-input formControlName="website" label="Website" label-placement="floating" fill="outline" color="dark"
            placeholder="Ex. samplewebsiteurl.com"></ion-input>
          <div *ngIf="this.vendorForm.controls['website'].touched && this.vendorForm.controls['website'].invalid">
            <div class="error ion-no-padding" *ngIf="errorControl['website'].errors['required']">
              <ion-text color="danger">Website is required.</ion-text>
            </div>
          </div>
          <br>
          <ion-item class="item-date-container">
            <ion-label>Contract signed</ion-label>
            <ion-datetime-button datetime="contractSigned"></ion-datetime-button>
          </ion-item>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime #contractSigned (ionChange)=" contractSignedDateChanged(contractSigned.value)" id="contractSigned"
                [showDefaultButtons]="true" presentation="date" display-format="YYYY-MM-DD"></ion-datetime>
            </ng-template>
          </ion-modal>
          <br>
          <ion-item class="item-date-container">
            <ion-label>Contract expired</ion-label>
            <ion-datetime-button datetime="contractExpired"></ion-datetime-button>
          </ion-item>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime #contractExpired (ionChange)=" contractExpiredDateChanged(contractExpired.value)" id="contractExpired"
                [showDefaultButtons]="true" presentation="date" display-format="YYYY-MM-DD"></ion-datetime>
            </ng-template>
          </ion-modal>
          <br>
          <ion-input formControlName="emailAddressLine" label="Addres line" label-placement="floating" fill="outline"
            color="dark" placeholder="Ex. Blk 25 Lot 25 Southville"></ion-input>
          <div
            *ngIf="this.vendorForm.controls['emailAddressLine'].touched && this.vendorForm.controls['emailAddressLine'].invalid">
            <div class="error ion-no-padding" *ngIf="errorControl['emailAddressLine'].errors['required']">
              <ion-text color="danger">Address line is required.</ion-text>
            </div>
          </div>
          <br>
          <ion-input formControlName="paymentStatus" label="Payment status" label-placement="floating" fill="outline"
            color="dark" placeholder="Ex. Confirmed"></ion-input>
          <div
            *ngIf="this.vendorForm.controls['paymentStatus'].touched && this.vendorForm.controls['paymentStatus'].invalid">
            <div class="error ion-no-padding" *ngIf="errorControl['paymentStatus'].errors['required']">
              <ion-text color="danger">Payment status is required.</ion-text>
            </div>
          </div>
          <br>
          <ion-input formControlName="finalCost" label="Final cost" label-placement="floating" fill="outline"
            color="dark" placeholder="Ex. 45000"></ion-input>
          <div *ngIf="this.vendorForm.controls['finalCost'].touched && this.vendorForm.controls['finalCost'].invalid">
            <div class="error ion-no-padding" *ngIf="errorControl['finalCost'].errors['required']">
              <ion-text color="danger">Final cost is required.</ion-text>
            </div>
          </div>
          <br>
          <ion-input formControlName="contractDescription" label="Contract desciption" label-placement="floating"
            fill="outline" color="dark" placeholder="Ex. Photographer will captures everything"></ion-input>
          <div
            *ngIf="this.vendorForm.controls['contractDescription'].touched && this.vendorForm.controls['contractDescription'].invalid">
            <div class="error ion-no-padding" *ngIf="errorControl['contractDescription'].errors['required']">
              <ion-text color="danger">Contract description is required.</ion-text>
            </div>
          </div>
          <ion-button type="submitForm" size="full" class="colored-button">Confirm</ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>