<ion-content>
  <div class="flex-center">
    <ion-card>
      <div class="image-container">
        <ion-img class="centered-image" src="assets/icon/logo.png"></ion-img>
      </div>
      <ion-card-header>
        <ion-card-title color="">Welcome!</ion-card-title>
        <ion-card-subtitle>Please enter the details below to continue</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-input label="Username" [(ngModel)]="username" label-placement="floating" fill="outline" aria-label="Dark input" color="dark"
          placeholder="Enter username"></ion-input>
        <br>
        <ion-input type="password" label="Password" [(ngModel)]="password" label-placement="floating" fill="outline"
          placeholder="Enter password"></ion-input>
        <br>

        <ion-button size="full" (click)="loginBtn()">Login</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<!-- <ion-content  class="ion-padding ion-text-center">
  <h1>Welcome</h1>
  <h3>Please enter the details below to continue</h3>



  <form action="">
    <ion-item color="none" lines="none" class="ion" >
      <ion-input label="Outline input" label-placement="floating" fill="outline"  aria-label="Dark input" color="dark"
        placeholder="Enter username"></ion-input>
    </ion-item>
    
  </form>
</ion-content> -->