<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Wedding details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="color-bg">
  <!-- <div class="vertical-center-container">
    <div class="ion-text-center">
      <p>Choose an action:</p>
    </div>
    <ion-row class="ion-padding">
      <ion-col size="12">
        <ion-button expand="full" shape="round" class="button-lowercase custom-button-text testBtn"
          routerLink="/to-be-processed">
          <ion-icon slot="start" name="settings-outline"></ion-icon> To be
          Processed</ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="full" shape="round" class="button-lowercase custom-button-text testBtn"><ion-icon
            slot="start" name="checkmark-circle-outline"></ion-icon>Completed</ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="full" shape="round" class="button-lowercase custom-button-text testBtn"
          routerLink="/manage-vendors"><ion-icon slot="start" name="reader-outline"></ion-icon>Manage
          Vendors</ion-button>
      </ion-col>
    </ion-row>
  </div> -->

  <ion-card class="color-bg">
    <img alt="Silhouette of mountains" src="assets/icon/details-logo.png" />
    <ion-card-header>
      <ion-card-title>Event name : Darna & Gagamboy's Wedding</ion-card-title>
      <ion-card-subtitle>Theme style : Modern Filipiniana</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content scroll-y="false">
      <ion-label class="ion-text-wrap">
        <span class="bold-text"> Address :</span> Athens st. Pinagbarilan, Baliuag, Bulacan
      </ion-label>
      <br>
      <ion-label class="ion-text-wrap">
        <span class="bold-text"> Booking status : </span> Athens st. Pinagbarilan, Baliuag, Bulacan
      </ion-label>
      <br>
      <ion-label class="ion-text-wrap">
        <span class="bold-text"> Booking soruce :</span> Athens st. Pinagbarilan, Baliuag, Bulacan
      </ion-label>
      <br>
      <ion-label class="ion-text-wrap">
        <span class="bold-text"> Client name :</span> test
      </ion-label>
      <br>
      <ion-label class="ion-text-wrap">
        <span class="bold-text"> Client contact no. :</span> test
      </ion-label>
      <br>
      <ion-label class="ion-text-wrap">
        <span class="bold-text"> Client contact no. :</span> test
      </ion-label>
      <br>
      <ion-label class="ion-text-wrap">
        <span class="bold-text"> Email :</span> test
      </ion-label>
      <br>
      <ion-label class="ion-text-wrap">
        <span class="bold-text">Address :</span> test
      </ion-label>
      <br>
      <ion-label class="ion-text-wrap">
        <span class="bold-text">Weeding date :</span> test
      </ion-label>
      <br>
      <ion-label class="ion-text-wrap">
        <span class="bold-text">Wedding type :</span> test
      </ion-label>
      <br>
      <ion-label class="ion-text-wrap">
        <span class="bold-text">Theme style :</span> test
      </ion-label>
      <br>
      <ion-label class="ion-text-wrap">
        <span class="bold-text">Ceremony venue :</span> test
      </ion-label>
      <br>
      <ion-label class="ion-text-wrap">
        <span class="bold-text">Reception venue :</span> test
      </ion-label>
      <br>
      <ion-label class="ion-text-wrap">
        <span class="bold-text">Expected guest number:</span> test
      </ion-label>
      <br>
      <ion-label class="ion-text-wrap">
        <span class="bold-text">Groom name :</span> test
      </ion-label>
      <br>
      <ion-label class="ion-text-wrap">
        <span class="bold-text">Groom contact number :</span> test
      </ion-label>
      <br>
      <ion-label class="ion-text-wrap">
        <span class="bold-text">bride name :</span> test
      </ion-label>
      <br>
      <ion-label class="ion-text-wrap">
        <span class="bold-text">Bride contact number :</span> test
      </ion-label>
      <br>
      <ion-label class="ion-text-wrap">
        <span class="bold-text">Payment method :</span> test
      </ion-label>
      <br>
      <ion-label class="ion-text-wrap">
        <span class="bold-text">Selectd package :</span> test
      </ion-label>
      <br>
      <ion-label class="ion-text-wrap">
        <span class="bold-text">Amount paid :</span> test
      </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>