<ion-header [translucent]="true">
  <ion-toolbar class="custom">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Guest list</ion-title>
    <ion-buttons slot="end" id="open-modal-guest" class="add-button">
      <ion-icon name="add-outline" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="custom">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Guest list</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-searchbar [(ngModel)]="searchQuery" (ionChange)="searchGuests()" show-clear-button="focus" placeholder="Search guest" class="custom"></ion-searchbar>

  <ion-button size="small" class="custom" (click)="presentAlertRadio()">
    <ion-icon slot="start" name="filter-outline"></ion-icon>
    Filter
  </ion-button>
  <ion-button size="small" class="custom">

    {{currentFilter}}
  </ion-button>
  <ion-alert trigger="filter-alert" header="Filter guest" [buttons]="alertButtons" [inputs]="alertInputs"></ion-alert>


  <ion-list>
    <ion-item class="" *ngFor="let guest of guests">
      <ion-label>
        <h2><span>{{guest.firstName}} {{guest.lastName}}</span></h2>
        <p><span>{{guest.relatedness}}</span></p>
      </ion-label>

      <ion-icon *ngIf="guest.status === 'confirmed'" name="checkmark-circle-outline" slot="end"
        class="custom"></ion-icon>
      <ion-icon *ngIf="guest.status === 'undecided'" name="help-circle-outline" slot="end" class="custom"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-modal trigger="open-modal-guest">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form [formGroup]="guestForm" (ngSubmit)="onSubmit()">
          <h4>Add new guest:</h4>
          <br>
          <ion-input label="Enter first name" formControlName="firstName" label-placement="floating" fill="outline"
            color="dark" placeholder="Ex. Juan"></ion-input>
          <div *ngIf="this.guestForm.controls['firstName'].touched && this.guestForm.controls['firstName'].invalid">
            <div class="error ion-no-padding validator-text" *ngIf="errorControl['firstName'].errors['required']">
              <ion-text color="danger">First name is required.</ion-text>
            </div>
          </div>
          <br>
          <ion-input label="Enter last name" formControlName="lastName" label-placement="floating" fill="outline"
            color="dark" placeholder="Ex. Dela Cruz"></ion-input>
          <div *ngIf="this.guestForm.controls['lastName'].touched && this.guestForm.controls['lastName'].invalid">
            <div class="error ion-no-padding validator-text" *ngIf="errorControl['lastName'].errors['required']">
              <ion-text color="danger">Last name is required.</ion-text>
            </div>
          </div>
          <br>
          <ion-input label="Enter email" formControlName="email" label-placement="floating" fill="outline" color="dark"
            placeholder="Ex. juandelacruz@gmail.com"></ion-input>
          <div *ngIf="this.guestForm.controls['email'].touched && this.guestForm.controls['email'].invalid">
            <div class="error ion-no-padding validator-text" *ngIf="errorControl['email'].errors['required']">
              <ion-text color="danger">Email is required.</ion-text>
            </div>
          </div>
          <br>
          <ion-input label="Enter relatedness" formControlName="relatedness" label-placement="floating" fill="outline" color="dark"
            placeholder="Ex. Cousin"></ion-input>
          <div *ngIf="this.guestForm.controls['relatedness'].touched && this.guestForm.controls['relatedness'].invalid">
            <div class="error ion-no-padding validator-text" *ngIf="errorControl['relatedness'].errors['required']">
              <ion-text color="danger">Relation is required.</ion-text>
            </div>
          </div>
          <ion-button type="submitForm" size="full" class="colored-button">Confirm</ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>